$first-color:#1B2330;
$second-color: #FFF;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.container {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
}




