$first-color: #1B2330;
$second-color: #FFF;
$third-color: #181F2B;
$fourth-color: #62E0D9;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', "sans-serif";
}

.container {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
}