.hero-container {
    background-color: $first-color;
    padding-top: 158px;

    .cards {
        display: flex;
        gap: 147px;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }

    .card {
        width: 349px;
        height: 215px;
        text-align: center;
    }

    .card__heading {
        margin-top: 16px;
        margin-bottom: 9px;
        color: $second-color;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .card__text {
        width: 363px;
        color: $second-color;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }




}